HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar directorios del sistema y archivos de usuario
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# Ignorar dependencias y configuraciones del sistema
node_modules/
build/
dist/
target/
.idea/
.vscode/
*.iml
*.class
*.war

# Ignorar carpetas personales específicas
../../../Documents/
../../../Downloads/
../../../Music/
../../../Pictures/
../../../Desktop/
../../../Videos/
../../../AppData/
../../../Favorites/

# Ignorar carpetas y archivos generados
*.exe
*.blend
*.pyc
*.zip
*.rar
*.7z

